@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot');
    src: url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff'),
         url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.ttf') format('truetype'),
         url('../fonts/mark_simonson_-_proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_cn_rgbold';
    src: url('../fonts/proxima_nova_condensed_bold-webfont.eot');
    src: url('../fonts/proxima_nova_condensed_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_condensed_bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_condensed_bold-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_condensed_bold-webfont.ttf') format('truetype'),
         url('../fonts/proxima_nova_condensed_bold-webfont.svg#proxima_nova_cn_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}