/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
ul li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover, a:focus {
	text-decoration: none!important;
}
.bold {
	font-family: 'proxima_nova_cn_rgbold';
	font-weight: normal;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select {
	vertical-align: middle;
}
.nomrg {
	margin-right: 0!important;
	margin-left: 0!important;
}
.nopad {
	padding-right: 0!important;
	padding-left: 0!important;
}
/**main styles starts **/
body {
	font-family: 'proxima_nova_rgregular'!important;
}
/**header styles starts **/
.top-header {
	background: #607584;
	padding: 5px 0;
}
.block-currency-wrapper {
	display: inline-block !important;
	margin: 5px 0 0 0;
}
header .dropdown-menu {
	box-shadow: none;
}
.block-currency {
	background: none;
	box-shadow: none;
	border: none;
	color: #fff;
}
.block-currency:hover, .block-currency:focus {
	color: #fff;
}
.block-currency-wrapper .dropdown-menu {
	border-bottom: 3px solid #08c65b;
	border-radius: 0;
	min-width: 0;
	z-index: 100000;
}
.welcome-msg {
	text-align: left;
	display: inline-block;
	padding: 0px;
	margin: 4px 0px 0px 15px;
	color: #fff;
}
.toplinks {
	line-height: 1.3em;
	padding: 6px 0 3px 0px;
}
.toplinks .links {
	text-align: right;
}
.toplinks .links div {
	display: inline-block;
	text-align: right;
}
.toplinks div.links div a {
	display: inline-block;
	padding: 0px;
	color: #fff;
	padding-left: 25px;
}
.header .logo {
	vertical-align: middle;
	cursor: pointer;
	margin-top: 15px;
	text-align: left;
	display: block;
	padding-bottom: 20px;
	display: inline-block;
	width: 190px;
}
.search-box {
	width: 100%;
	margin: 18px auto 0px;
	float: right;
	position: relative;
	background: #fff url(../images/search-icon.png) no-repeat scroll 10px 10px;
	padding: 0px 0px 0px 37px;
	border-radius: 2px;
	border: 1px solid #ddd;
	border-right: none;
}
.cate-dropdown {
	border: medium none;
	float: left;
	height: 34px;
	padding: 5px;
	width: 150px;
	line-height: 30px;
	margin: 0;
	background-color: #f0f0f0;
}
.cate-dropdown option {
	padding: 4px 8px;
}
.search-btn-bg {
	background-color: #607584;
	border: 1px solid #607584;
	border-radius: 0 1px 1px 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 36px;
	line-height: 17px;
	padding: 6px 15px;
	position: absolute;
	text-transform: uppercase;
	font-family: DIN, Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-top: -1px;
	letter-spacing: 1px;
	right: 0px;
}
#search_header {
	margin: 0;
	width: 55%;
	height: 34px;
	color: #333;
	border: none;
	padding: 0 10px;
	outline: none;
	float: left;
	border-right: none;
}
.header-container .signup {
	float: right;
	margin-top: 20px;
}
.header-container .or {
	float: right;
	color: #999;
	display: block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 30px;
}
.header-container .login {
	float: right;
	margin-top: 20px;
}
.header-container .login a {
	color: #333;
	background: #fff;
	border: 1px #ddd solid;
	padding: 0px 15px;
	display: block;
	border-radius: 2px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 32px;
}
.header-container .signup a {
	color: #333;
	background: #f8f8f8;
	border: 1px #ddd solid;
	padding: 0px 13px;
	display: block;
	font-size: 12px;
	border-radius: 2px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 32px;
}
/**header navigation styles starts **/

.navbar-nav>li>.dropdown-menu {
	margin-top: 20px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.navbar-default .navbar-nav>li>a {
	font-weight: normal;
	text-transform: uppercase;
	color: #fff!important;
	border-right: 1px dotted #fff;
}
.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	padding: 20px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}
header .navbar-default {
	background: #607584;
	border: none;
	color: #fff;
}
.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}
.mega-dropdown-menu > li > ul > li {
	list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #999;
	white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
	text-decoration: none;
	color: #444;
	background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
	color: #428bca;
	font-size: 18px;
	font-weight: bold;
}
.mega-dropdown-menu form {
	margin: 3px 20px;
}
.mega-dropdown-menu .form-group {
	margin-bottom: 3px;
}
header .mega-dropdown-menu {
	float: none;
	left: inherit;
}
.color-link {
	color: #428bca!important;
}
.rightnav a {
	color: #fff;
}
.rightnav .navbar-nav > li > a {
	padding-top: 0;
	padding-bottom: 0;
}
.rightnav .navbar-nav > li > a:hover, .rightnav .navbar-nav > li > a:focus {
	background: none;
	color: #fff;
}
/** header navigation styles ends **/

/**top cart starts**/
/* Top Shopping Cart */
.glyphicon-shopping-cart:before {
	font-size: 14px;
	color: #fdd922;
	margin-right: 6px;
}
.mini-products-list .product-image {
	float: left;
}
.mini-products-list .detail-item {
	margin-left: 92px;
}
.top-cart-content .product-name {
	margin: 0;
	width: 150px;
	line-height: 1;
	padding: 0 0 5px 0;
}
.top-cart-content .product-name a {
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	color: #333;
}
.top-cart-content .product-name a:hover {
	color: #000000;
	text-decoration: none;
}
.top-cart-contain .price {
	color: #ff0000;
	font-weight: bold;
	text-transform: uppercase;
}
.top-cart-contain .product-details .price {
	color: #08c65b;
	width: auto;
	float: none;
	font-weight: normal;
	padding-left: 0px;
	font-size: 12px;
}
.mini-cart {
	text-align: left;
	/*cursor: pointer;*/
	margin: 0px 0px 0px 0px;
	position: relative;
	z-index: 0;
}
.mini-cart .basket a {
	padding: 0 11px 0 11px;
	margin: 0 0 0 10px;
	display: block;
	min-width: 55px;
	text-align: center;
	position: relative;
	z-index: 9999;
	float: left;
	color: #fff;
	background: #08c65b;
	line-height: normal;
	font-family: DIN, Helvetica, Arial, sans-serif;
	font-size: 12px;
}
.mini-cart .basket a strong {
	display: block;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.6em;
	margin-bottom: 0px;
}
.mini-cart .basket a:after {
	content: "\f10c";
	font-size: 18px;
	line-height: 18px;
	font-family: FontAwesome;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: -10px;
	z-index: 0;
	color: #08c65b;
}
.mini-cart .basket a:hover {
	text-decoration: none;
}
.mini-cart .basket .title {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	line-height: 1em;
	text-transform: uppercase;
}
.mini-cart .basket .cart-box {
	display: inline-block;
}
.mini-cart .basket .cart-box #cart-total {
	color: #fff;
	text-transform: none;
	margin: 5px 0px 5px 0px;
	display: block;
}
.top-cart-contain {
	color: #333;
	display: block;
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 0;
	right: 0;
	z-index: 1000;
}
header .navbar-nav > li > a {
	line-height: 27px;
}
.top-cart-content .empty {
	text-align: left;
	color: #333;
}
.top-cart-content {
	display: none;
	width: 300px;
	position: absolute;
	top: 0px;
	right: 55px;
	background: #fff;
	padding: 0;
	text-align: left;
	box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
	z-index: 10000;
}
div#ajaxconfig_info {
	display: none;
}
.top-subtotal {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 15px;
	text-align: left;
	text-transform: none;
	border-bottom: 1px #ddd solid;
	border-top: 1px #ddd solid;
	font-family: DIN, Helvetica, Arial, sans-serif;
}
.top-cart-content .block-subtitle {
	color: #333;
	overflow: hidden;
	padding: 15px;
	text-align: left;
	font-family: DIN, Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #f5f5f5;
	text-transform: none;
	font-weight: normal;
	border-bottom: 1px #ddd solid;
	font-weight: bold;
}
ul#cart-sidebar {
	padding: 8px 15px 0 15px;
	margin: 0px;
}
.top-cart-content li {
	list-style: none;
}
.top-cart-content li.item {
	border-bottom: 1px solid #eee;
	margin: 5px 0px 10px;
	overflow: hidden;
	padding: 0px 0px 10px 0px;
}
.top-cart-content li.item.last {
	margin: 0px;
	border-bottom: 0px #eee solid;
}
.top-cart-content .product-details {
	color: #333333;
	position: relative;
	text-align: left;
	padding: 0px;
}
/** top cart ends **/

.header-service {
	background: none repeat scroll 0 0 #f8f8f8;
	padding: 12px 0;
	color: #262626;
	text-transform: uppercase;
	border-bottom: 1px #ddd dashed;
	font-size: 12px;
}
header .navbar {
	margin-bottom: 0;
}
/**main slider styles **/

/* Carousel Styles */
.carousel-indicators .active {
	background-color: #2980b9;
}
.carousel-inner img {
	width: 100%;
	max-height: 460px
}
.carousel-control {
	width: 0;
}
.carousel-control.left, .carousel-control.right {
	opacity: 1;
	filter: alpha(opacity=100);
	background-image: none;
	background-repeat: no-repeat;
	text-shadow: none;
}
.carousel-control.left span {
	padding: 15px;
}
.carousel-control.right span {
	padding: 15px;
}
header .navbar {
	border-radius: 0;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
}
header .navbar-default .navbar-nav > .open > a, header .navbar-default .navbar-nav > .open > a:hover, header .navbar-default .navbar-nav > .open > a:focus {
	color: #333!important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	left: 0;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	right: 0;
}
.carousel-control.left span, .carousel-control.right span {
	background-color: #000;
}
.main-slider .carousel-control.left {
	background: none;
}
.main-slider .carousel-control.right {
	background: none;
}
.main-slider .carousel-control {
	top: 45%;
}
.second-ad {
	padding: 30px 0;
}
.cat-title {
	background: #607584;
	min-height: 50px;
	margin-bottom: 30px;
}
.cat-title span {
	font-size: 15px;
	color: #fff;
	line-height: 50px;
	padding: 0 20px;
	text-transform: uppercase;
}
.cat-title span a {
	color: #fff;
	background: #fb1135;
	display: block;
	padding: 0 20px;
}
.allcat {
	padding: 0!important;
}
.index-categories {
	margin-bottom: 35px;
	position: relative;
	border: 1px solid transparent;
	overflow: hidden;
}
.index-categories figure {
	position: relative;
	z-index: 0;
}
.index-categories:hover {
	border: 1px solid #fb1135;
}
.index-categories figure img {
	width: 260px;
	max-height: 225px;
	transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}
.index-categories article {
	background: url(../images/cat-title-bg.png) repeat-x 0 0;
	position: absolute;
	z-index: 10;
	height: 46px;
	bottom: 0;
	right: 0;
	left: 0;
}
.index-categories article h3 {
	font-size: 15px;
	text-align: center;
	color: #fff;
	padding: 0;
	margin: 0;
	line-height: 65px;
}
.index-categories:hover figure img {
	opacity: 0.8;
	transform: scale(1.1, 1.1);
}
.rentacar {
	background: url(../images/rentacar-bg.png) no-repeat 0 0;
	min-height: 313px;
	margin-bottom: 35px;
}
.carin {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 313px;
	max-height: 313px;
}
.carin article {
	padding: 56px 0 0 56px;
}
.carin article h1 {
	font-size: 60px;
	color: #ff722c;
	padding-bottom: 10px;
	margin: 0;
}
.carin article p {
	font-size: 25px;
	line-height: 32px;
	color: #fff;
	margin: 0;
	padding: 0 0 20px 0;
}
.carin article a {
	padding: 10px 15px;
	font-size: 20px;
	display: inline-block;
	background: #fff;
	color: #ff722c;
	transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
}
.carin article a:hover {
	background: #ff722c;
	color: #fff;
}
/**footer styles starts **/
.secure {
	background: #f2f2f2;
	padding: 30px 0;
	margin-bottom: 30px;
}
.footertrust figure {
	width: 55px;
}
.footertrust article h3 {
	font-size: 20px;
	color: #262626;
	margin: 0;
	padding: 0 0 5px 0;
}
.footertrust article p {
	font-size: 15px;
	color: #5f5f5f;
}
.footer-links h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 30px 0;
}
.footer-links {
	padding-bottom: 30px;
}
.footer-links ul li a {
	font-size: 14px;
	color: #686868;
}
.footer-links ul li a:hover {
	color: #000;
}
.footer-links ul li {
	padding-bottom: 5px;
}
.bottom-footer {
	background: #f2f2f2;
	padding: 30px 0 20px 0;
}
.bottom-footer p {
	color: #aaaaaa;
	padding: 0;
}
/** footer styles ends **/

/**modal popup styles starts**/
.modal-dialog {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
.modal-content {
	border-radius: 0;
	color: white;
	overflow: auto;
}
.login-pop .close {
	color: #fff!important;
	opacity: 1.0;
	background: #000;
	font-size: 30px!important;
	font-weight: bold!important;
}
#first-child {
	top: 0;
	left: 0;
	background-color: yellowgreen;
}
#second-child {
	top: 0;
	left: 50%;
	background-color: #E6537D;
	color: black;
}
#third-child {
	top: 50%;
	left: 0;
	background-color: crimson;
}
#fourth-child {
	top: 50%;
	left: 50%;
	background-color: lightseagreen;
	color: black;
}
.big-box {
	position: absolute;
	width: 50%;
	height: 50%;
	color: white;
}
 @media screen and (max-width: 46.5em) {
.big-box h2 {
	font-size: 16px;
	padding-left: 0px;
}
}
 @media screen and (max-width: 20.5em) {
.big-box h2 {
	font-size: 12px;
	padding-left: 0px;
	margin-top: 30%;
}
}
.modal-dialog {
	width: 100%;
	padding: 0;
	margin: 0;
}
.modal-content {
	border-radius: 0;
	color: white;
	overflow: auto;
}
.modal-title {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}
.modal-content-one {
	background-color: yellowgreen;
}
.modal-content-two {
	background-color: #E6537D;
}
.modal-content-three {
	background-color: crimson;
}
.modal-content-four {
	background-color: lightseagreen;
}
.login-pop .modal-header {
	border-bottom: none;
}
.login-pop .modal-dialog {
	width: 1000px;
}
/**login tab styles starts**/
/*  bhoechie tab */
div.bhoechie-tab-container {
	z-index: 10;
	background-color: #ffffff;
	padding: 0 !important;
}
div.bhoechie-tab-menu {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group {
	margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a {
	margin-bottom: 0;
	padding: 20px 15px;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {
	color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child {
	border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child {
	border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {
	background-color: #5A55A3;
	background-image: #5A55A3;
	color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -13px;
	border-left: 0;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
	border-left: 10px solid #5A55A3;
}
div.bhoechie-tab-content {
	background-color: #ffffff;
	padding-top: 10px;
	overflow: hidden;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
	display: none;
}
.login-pop .modal-header {
	padding: 0px!important;
}
.login-pop .modal-header .close {
	background: #000!important;
	padding: 15px;
}
.login-pop .modal-header h3 {
	color: #333;
	float: left;
	padding-left: 15px;
	font-weight: normal;
}
.login-pop .bhoechie-tab-container .fa {
	font-size: 25px;
}
.login-pop .list-group-item:first-child {
	border-top-left-radius: 0;
}
.login-block h3 {
	font-size: 30px;
	margin: 0;
	text-align: left;
}
.login-block {
	color: #333;
}
.login-block form {
	margin: 25px 0;
}
.login-block form input[type="text"], .login-block form input[type="password"] {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	padding: 0 15px;
}
.login-block form div.logblock {
	margin-bottom: 20px;
}
.login-block form div.logblock button {
	padding: 10px 25px;
	border: 1px solid #ccc;
	background: #fff;
	transition: all 0.2s ease;
}
.login-block form div.logblock button:hover {
	background: #fb0128;
	color: #fff;
}
.addon-facebook {
	background-color: #345387;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}
.btn-facebook, .btn-facebook:hover {
	background-color: #4b6ea9;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}
.addon-twitter {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}
.btn-twitter, .btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}
.login-block .btn-lg, .login-block .btn-group-lg > .btn {
	border-radius: 0!important;
	font-size: inherit;
}
.login-block .input-group-addon {
	background: none;
	color: inherit;
}
.fa-facebook {
	color: #4b6ea9;
}
.fa-twitter {
	color: #00d7fa;
}
.login-instructions {
	color: #000;
	padding-left: 5px;
	padding-top: 50px;
}
.login-instructions li {
	margin-bottom: 25px;
	overflow: hidden;
}
.login-instructions li .fa {
	/*float: left;*/
	color: #5a55a3;
	font-size: 20px!important;
}
.login-instructions li span {
	/*float: left;*/
	padding-left: 15px;
}
.logblock .box .input-group {
	margin-bottom: 10px;
}
/**login tab styles ends **/

/** modal popup styles ends **/

/**product list page styles starts **/
.products-page {
	background: #ececec;
}
.brcrumb-products {
	padding: 15px 0;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}
.brcrumb-products ul {
	float: left;
	padding-top: 8px;
}
.brcrumb-products ul li {
	float: left;
}
.brcrumb-products ul li .fa {
	padding: 0 10px;
}
.brcrumb-products ul li a {
	color: #262626!important;
}
.brcrumb-products ul li:last-child a {
	color: #787878!important;
}
.page-search {
	background: #fff;
	width: 250px;
	height: 30px;
	float: left;
	margin-left: 20px;
	padding: 5px;
}
.page-search input[type="text"] {
	border: none;
	padding-left: 5px;
	width: 90%;
}
.main-products {
	padding: 30px 0;
}
.filter-block-left ul li a {
	font-size: 13px;
	color: #0099ff;
}
.filter-block-left ul li {
	padding-bottom: 5px;
}
.filter-block-left ul li a:hover {
	text-decoration: underline!important;
}
.filter-block-left ul li span {
	color: #aaa;
	font-size: 13px;
}
.filter-title a, .filter-title span {
	font-size: 18px!important;
	color: #08c65b!important;
}
.filter-block-left {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dbdbdb;
}
.filter-block-left ul li input[type="checkbox"] {
	margin-right: 8px;
}
.filter2 li a {
	padding: 2px;
}
.pro-title {
	margin: 0;
	padding-bottom: 20px;
}
.pro-title span {
	color: #aaa;
}
.main-pro-block {
	background: #fff;
	padding: 15px;
	width: 100%;
	overflow: hidden;
}
.sortby span {
	float: left;
	padding-right: 20px;
	color: #aaa;
}
.sortby ul {
	float: left;
	margin-bottom: 20px;
}
.sortby ul li {
	float: left;
	padding-right: 15px;
}
.sortby ul li a {
	color: #262626;
	font-size: 13px;
}
.sortby ul li a:hover {
	text-decoration: underline!important;
}
.sortby {
	float: left;
	width: 100%;
}
.product-block {
	min-height: 350px;
	border: 1px solid #eee;
	transition: all 0.2s ease;
	position: relative;
	padding: 10px;
	font-size: 13px;
}
.product-block a.product-title {
	color: #000;
	display: block;
	padding-top: 10px;
}
.product-block a.product-title:hover {
	text-decoration: underline!important;
}
.product-block:hover {
	border: 1px solid #06C;
}
.product-block:hover .short-list, .product-block:hover .list-desc .quickview {
	display: block;
}
.short-list {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
.short-list .fa {
	border: 1px solid #ccc;
	border-radius: 75%;
	line-height: 30px;
}
.short-list i {
	width: 30px;
	height: 30px;
	text-align: center;
}
.pro-figure {
	min-height: 200px;
}
.discount-flag {
	background: #09F;
	padding: 2px 5px;
	font-size: 13px;
	color: #fff;
	margin-bottom: 5px;
}
.product-price {
	padding: 10px 0;
	font-size: 15px;
}
.product-price .real-price {
	color: #aaa;
	text-decoration: line-through;
	padding-right: 10px;
}
.list-desc .quickview {
	background: #09F;
	width: 100%;
	padding: 3px 0;
	text-align: center;
	display: block;
	color: #fff;
	display: none;
	position: absolute;
	top: -1px;
}
.list-desc {
	position: relative;
}
.buy-rating .blue {
	color: #09F;
}
.buy-rating .fa {
	font-size: 12px;
}
.pblock {
	margin-bottom: 30px;
}
.loadmore {
	background: #fb0128;
	padding: 10px 0;
	text-align: center;
	display: block;
	font-size: 16px;
	color: #fff;
	border: 1px solid transparent;
	transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.loadmore:hover {
	background: #fff;
	border: 1px solid #fb0128;
	color: #fb0128;
}
/** product list page style ends **/

/** product detail page styles starts **/
.product-gallery {
	background: #fff;
	padding: 10px;
	position: relative;
}
/**product gallery styles **/
/* Main carousel style */
.article-slide {
	width: 100%;
	min-height: 335px;
}
.product-gallery .carousel-inner {
	margin-top: 50px;
}
/* Indicators list style */
.article-slide .carousel-indicators {
	bottom: 0;
	left: 0;
	margin-left: 1px;
	width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
	border: medium none;
	border-radius: 0;
	float: left;
	height: 30px;
	margin-bottom: 5px;
	margin-left: 0;
	margin-right: 5px !important;
	margin-top: 0;
	width: 62px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
	border: 2px solid #FFFFFF;
	float: left;
	height: auto;
	left: 0;
	width: 100%;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
	opacity: 0.7;
}
.product-detail-block {
	padding-bottom: 25px;
}
/** product gallery styles ends **/
.product-gallery .short-list {
	display: block;
}
.product-gallery .short-list:hover .fa {
	background: #607584;
	color: #fff;
	border: 1px solid #607584;
}
.product-detail-right {
	background: #fff;
	padding: 15px;
	overflow: hidden;
}
.detail-title {
	font-size: 18px;
	margin: 0;
	padding: 0 0 15px 0;
}
.rating-block span {
	color: #262626;
}
.rating-block li:after {
	content: "|";
	padding: 0 15px;
}
.rating-block {
	overflow: hidden;
}
.rating-block li {
	float: left;
}
.rating-block li a {
	color: #262626;
}
.rating-block li .buy-rating {
	float: left;
}
.rating-block li:last-child:after {
	content: "";
}
ul.primary-specifications li {
	width: 100%;
	color: black;
	//float: left;
	margin-bottom: 10px;
}
ul.primary-specifications {
	overflow: hidden;
	margin-bottom: 0;
}
.detail-price {
	padding-bottom: 15px;
}
.detail-price .old-price {
	text-decoration: line-through;
	color: #aaa;
	font-size: 15px;
}
.detail-price span {
	padding-right: 10px;
}
.detail-price span.offer-price {
	font-size: 30px;
}
.detail-price span.offer-percentage {
	color: #FF6600;
}
.check-delivery span {
	font-size: 15px;
}
.check-pinnumber input[type="text"] {
	padding: 2px 5px;
	border: 1px solid #ccc;
	color: #aaa;
}
.check-pinnumber input[type="button"] {
	padding: 4px 5px;
	font-size: 12px;
	background: #333;
	color: #fff;
	border: none;
}
.check-delivery {
	padding-bottom: 10px;
}
.btn-block-detail button {
	padding: 10px 25px;
	transition: all 0.2s ease;
}
.btn-block-detail {
	padding: 20px 0;
}
.btn-block-detail button:first-child {
	background: #FF6600;
	border: 1px solid transparent;
	color: #fff;
}
.btn-block-detail button:first-child:hover {
	background: #fff;
	border: 1px solid #FF6600;
	color: #262626;
}
.btn-block-detail button:last-child {
	background: #fff;
	border: 1px solid #FF6600;
	color: #262626;
}
.btn-block-detail button:last-child:hover {
	background: #FF6600;
	border: 1px solid transparent;
	color: #fff;
}
.product-specifications {
	background: #fff;
	padding: 15px;
	margin-top: 25px;
	overflow: hidden;
}
.title-pro-speci {
	font-size: 22px;
	margin: 0;
	padding: 0 0 20px 0;
}
.speci-title {
	font-size: 20px;
	padding: 10px 0;
	margin: 0;
}
.spe-span {
	color: #aaa;
}
.product-specifications table tr td {
	padding: 4px 5px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.product-specifications table {
	border: 1px solid #eee;
}
.ratings-reviews {
	background: #fff;
	padding: 15px;
	margin-top: 25px;
	overflow: hidden;
}
.review-block-detail {
	background: #eee;
	padding: 12px;
	border: 1px solid #ddd;
	overflow: hidden;
	margin-bottom: 20px;
}
.reviewby {
	color: #aaa;
	padding-top: 20px;
	float: left;
}
.detail-similar-products {
	background: #fff;
	padding: 15px;
	margin-top: 25px;
	overflow: hidden;
}
/** similar products **/

.detail-similar-products .carousel {
	margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* The controlsy */
.detail-similar-products .carousel-control {
	left: -12px;
	height: 40px;
	width: 40px;
	background: none repeat scroll 0 0 #222222;
	border: 4px solid #FFFFFF;
	border-radius: 23px 23px 23px 23px;
	margin-top: 90px;
}
.detail-similar-products .carousel-control.right {
	right: -12px;
}
/* The indicators */
.detail-similar-products .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.detail-similar-products .carousel-indicators li {
	background: #cecece;
}
.detail-similar-products .carousel-indicators .active {
	background: #428bca;
}
/** product detail page styled ends **/

/** cart page styles starts **/
.cart {
	padding-top: 30px;
	padding-bottom: 20px;
}
.cart .carttitle {
	font-size: 18px;
	margin: 0;
	padding: 0 0 15px;
	text-transform: uppercase;
}
.cart .carttitle span {
	color: #aaa;
}
.cart-table thead {
	color: #b2b2b2;
	font-weight: normal;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}
.cart-table thead th {
	padding: 8px 12px;
}
.cart-table tr {
	border-bottom: 1px solid #ccc;
}
.cart-table {
	font-weight: normal;
}
.cart-pic img {
	width: 75px;
}
.cart-pic {
	float: left;
	margin-right: 10px;
}
.cart-table td {
	vertical-align: middle;
	padding: 8px 12px;
}
.pro-cart {
	padding-top: 10px;
}
.cart-table select.form-control {
	box-shadow: none;
	border-radius: 0;
}
.final-pay {
	padding: 25px 0;
}
.final-pay .col-md-8 {
	color: #aaa;
}
.total-table td {
	padding: 3px 10px;
}
.total-table td.grtotal {
	font-size: 18px;
	color: #337ab7;
}
.btncart {
	background: #ff8831;
	border: none;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	border-radius: 5px;
}
.brtr {
	border-bottom: 1px solid #ccc;
}
.loginpage, .payment {
	padding: 50px 0;
}
.payment .list-group-item {
	background: none;
	border-top: none;
	border-right: none;
	border-left: none;
	text-align: left;
	font-size: 18px;
}
.payment div.bhoechie-tab-menu div.list-group > a.active::after {
	display: none;
}
.payment .bhoechie-tab {
	background: #eee!important;
}
.payment div.bhoechie-tab-menu div.list-group > a.active, .payment div.bhoechie-tab-menu div.list-group > a.active .glyphicon, .payment div.bhoechie-tab-menu div.list-group > a.active .fa {
	background: #eee;
	color: #262626;
	font-size: 18px;
}
.payment div.bhoechie-tab-content {
	background: none;
}
.payment a.list-group-item span, .payment button.list-group-item span {
	border: 1px solid #ccc;
	border-radius: 50%;
	display: inline-block;
	line-height: 5px;
	margin-right: 15px;
	padding: 14px;
	text-align: left;
}
.payment div.bhoechie-tab-menu div.list-group > a.active span {
	background: #607584;
	color: #fff;
	border: 1px solid #607584;
}
.login-block h3 small {
	font-size: 13px;
	display: table;
}
.payment .login-block h3 {
	margin: 0 0 20px 0;
}
.payment .logblock label {
	font-weight: normal;
	font-size: 13px;
}
.payment .login-block form div.logblock {
	margin-bottom: 10px;
}
.payment select.form-control {
	height: 40px;
}
.payment div.bhoechie-tab-content {
	padding: 25px 0;
}
.payment .login-block form {
	margin: 0;
}
.upay {
	background: #fff;
	font-size: 22px;
	padding: 15px 0;
	margin: 15px 0;
}
.upay span {
	color: #ccc;
}
.board {
	width: 100%;
	margin: 10px auto;
	min-height: 800px;
	background: #fff;/
}
.board .nav-tabs {
	position: relative;
	margin: 40px auto;
	margin-bottom: 0;
	box-sizing: border-box;
}
.board > div.board-inner {
	background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
	background-size: 30%;
}
.paycard p.narrow {
	width: 60%;
	margin: 10px auto;
}
.paycard .liner {
	height: 2px;
	background: #ddd;
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}
.paycard .nav-tabs > li.active > a, .paycard .nav-tabs > li.active > a:hover, .paycard .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
	border-bottom-color: transparent;
}

.paycard li.active span.round-tabs {
	background: #fff !important;
	border: 2px solid #aaa;
	color: rgb(34, 194, 34);
}
.paycard .nav-tabs > li.active > a span.round-tabs {
	background: #fafafa;
}
.paycard .nav-tabs > li {
	width: 20%;
}

.paycard li:after {
	content: " ";
	position: absolute;
	left: 45%;
	opacity: 0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #ddd;
	transition: 0.1s ease-in-out;
}
.paycard li.active:after {
	content: " ";
	position: absolute;
	left: 45%;
	opacity: 1;
	margin: 0 auto;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: #ddd;
}
.paycard .nav-tabs > li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}
.paycard .nav-tabs > li a:hover {
	background: transparent;
}

.paycard .tab-pane {
	position: relative;
	padding-top: 20px;
}
.paycard .tab-content .head {
	font-size: 20px;
}
.paycard .btn-outline-rounded {
	padding: 10px 40px;
	margin: 20px 0;
	border: 2px solid transparent;
	border-radius: 25px;
}
.paycard .btn.green {
	background-color: #5cb85c;
	/*border: 2px solid #5cb85c;*/
	color: #ffffff;
}
.paycard .nav-tabs > li > a{
	border:none;
}
 @media( max-width : 585px ) {
.board {
	width: 90%;
	height: auto !important;
}
span.round-tabs {
	font-size: 16px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.tab-content .head {
	font-size: 20px;
}
.nav-tabs > li a {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
li.active:after {
	content: " ";
	position: absolute;
	left: 35%;
}
.btn-outline-rounded {
	padding: 12px 20px;
}
}

.paycard .nav-tabs > li > a{
	margin-right:auto;
}
.paycard .nav-tabs > li a{
	height:35px;
	width:155px;
	text-align:center;
	line-height:35px;
}
.paycard .nav-tabs > li.active > a, .paycard .nav-tabs > li.active > a:hover,  .paycard .nav-tabs > li.active > a:focus{
	border:none;
	background:#333;
	color:#fff;
	border-radius:5px;
}
.paycard .tab-content h3{
	text-transform:inherit;
}
.card-list{
	overflow:hidden;
}
.card-list li{
	float:left;
	margin-right:25px;
}
.card-list li img{
	width:35px;
}
.paycard .tab-content{
	padding-bottom:40px;
}
.card-form div{
	width:53%;
	margin-bottom:10px;
	margin-top:5px;
	overflow:hidden;
}
.card-form{
	padding-top:10px;
}

.ex-head{
	float:left;
}
.expcard{
	width:200px!important;
}


.expcard select{
	float:left;
	width:80px;
	margin-right:10px;
}
.cvv{
	width:70px!important;
}
.card-form label{
	font-weight:normal;
}

.myorders-nav h3{
	font-size:16px;
	color:#000;
	padding-bottom:20px;
}
.account-ltnav li {
	padding:12px 0;
	border-bottom:1px dashed #ccc;
}
.account-ltnav li a{
	font-size:16px;
	color:#333;
}
.myorder{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
}
.right-myaccount{
	padding-top:25px;
}
.myorder-header{
	padding:10px 0;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
.myorder{
	overflow:hidden;
}
.deliv p{
	color:#4caf50;
}
.deliv span{
	float:left;
	padding-right:10px;
}
.deliv{
	padding:10px 0;
	overflow:hidden;
}
#add-new{
	display:none;
}
.shortlist{
	padding:15px 0;
}
.shortlist-header{
	padding:15px 0 0 0;
	border-bottom:1px solid #ccc;
	overflow:hidden;
}
.short-listbody{
	padding-top:25px;
}

.secure-heading {
    margin-top: 0px;
}


/** cart page styles ends **/



section.home-search { background: url(../images/bg.jpg) no-repeat 0 0;background-position: 50%;  background-size: cover;  height: 100vh;  display: -ms-flexbox;display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center;  padding-bottom: 10vh; box-sizing: border-box; position: relative;}
.search-middle {   background: #f2f3f5;  text-align: center;}
.search-middle ul.nav.nav-pills {  text-align: center;  margin: 0 auto;  display: block;}
.search-middle ul.nav.nav-pills li {  float:none;display: inline-block; }
.search-middle ul.nav.nav-pills li a {  float:none;display: inline-block;    background: #fff;color: #08c65b;}
.search-middle ul.nav.nav-pills li a i.fa {font-size:20px; }
.search-middle ul.nav.nav-pills li.active a {  background: #08c65b; color: #fff;}
.search-middle h1 {  font-size: 24px;}
form.form-home-search {  padding: 15px 10% 0;}
input.form-control.search-filed {  padding: 6px 15px;  font-size: 16px;  height: 44px;}
form.form-home-search button.btn.btn-default {  font-size: 18px; padding: 8.5px 30px;height: 44px; background: #08c65b; color: #fff;    font-weight: 600;}
.top-header.home-sear {  position: fixed; top: 0; left: 0; right: 0; z-index: 9;}


.switch { position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {display:none;}
.slider {position: absolute; cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute; content: "";height: 26px; width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider { background-color: #2196F3;}
input:focus + .slider { box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before { -webkit-transform: translateX(26px);-ms-transform: translateX(26px);  transform: translateX(26px);}

/* Rounded sliders */
.slider.round { border-radius: 34px;}
.slider.round:before { border-radius: 50%;}
.categories img {   width: 100%;  height: 182px;}
.categories span.title-name {  position: absolute;padding: 76px;top: 0;bottom: 0;color: #fff;   left: 0;  right: 0;    font-size: 22px;  font-weight: 600;   letter-spacing: 1px;   display: block;  text-align: center;}
.categories {  position: relative;    margin-bottom: 10px;}
.categories:before {  position: absolute;  content: "";   background: #00000029;  top: 0;  left: 0;  right: 0;  bottom: 0;}
.pad-right {   padding-right: 5px;}
.categories a {   display: block;  cursor: pointer;}
.pad-left {   padding-left: 5px;}
.home-right h2 {  margin: 5px 0;padding-left: 15px;font-size: 24px;  font-weight: 500;}
.categories-list {   margin: 30px 0;}
.home-left {  background: #f8f8f8;  padding: 20px 25px;}
.pick {  float: left;}
.aside-check h3 {  margin-top: 0;}
.home-left h3 {  margin-top: 5px;  font-size: 20px;  font-weight: 600;}
.items-categories h4 {  font-weight: 600;}
.items-categories ul li a {  font-size: 16px;  color: #000;  font-weight: 500;  margin-bottom: 5px;  display: block;}
.items-categories ul {  padding-left: 5px;}

.categories a:hover .plus_overlay_icon {   opacity: 0;}
.plus_overlay {   border-bottom: 50px solid #08c65b;  border-left: 50px solid transparent;  bottom: 0;    height: 0;  opacity: .95;   position: absolute;  right: 0;  text-indent: -9999px;   -webkit-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -moz-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -o-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -ms-transition: all .2s cubic-bezier(.63, .08, .35, .92);  transition: all .2s cubic-bezier(.63, .08, .35, .92);  width: 0;}
.plus_overlay_icon {  background: url(images/bgimg.png) no-repeat;  background-position: -10px -320px;  width: 13px;  height: 13px;  bottom: 9px;  position: absolute;  right: 9px;  -webkit-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -moz-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -o-transition: all .2s cubic-bezier(.63, .08, .35, .92);  -ms-transition: all .2s cubic-bezier(.63, .08, .35, .92);   transition: all .2s cubic-bezier(.63, .08, .35, .92);}
.categories a:hover .plus_overlay {  border-bottom: 182px solid #08c65bc7;  animation: 0;  position: absolute;  width: 100%; height: 100%; border-left: 0;}









