/*===== DATATABLE =====*/
.dataTables_length select {width:75px;padding:0px 15px 0 5px !important;height:34px;margin:0 5px 10px 0;text-align:center; }
/*
.dataTables_wrapper .dataTables_filter label input {border:1px solid #ddd;height:31px;width:100%;border-radius:5px;padding:0 10px; }
.dataTables_wrapper .dataTables_filter label {width:100%; }
*/
.actions_td {	vertical-align:middle !important;}
.actions_td a {margin:0 1px;width:25px;height:25px;display:inline-block;   line-height:25px;border-radius:3px;  transition:all 0.3s ease; }
.actions_td a.view {background:#0b9;color:#04ed19; }
.actions_td a.edit {    background: #05eb1a;
    color: #ed042f; }
.actions_td a {background:#f00;color:#fff; }
.actions_td a.active {background:green !important;color:#fff;}
.actions_td a.waiting {background:#a2a2a2 !important;color:#fff; }
.actions_td a.inactive {background:#c7485e !important;color:#fff; }
.actions_td a.delete2 {background:#f00 !important;color:#fff; }



.actions_td a:hover {	background:#000; }
a.add {background:#000;padding:5px 10px;color:#fff !important;transition:all 0.3s ease; }
a.add:hover {background:#0b88c3;color:#fff; }

.colon {float:right;padding:0 0 0 15px;color:#000;font-weight:700; }
.custom_error {border-color:#ff7777; }
.color00 {display:inline-block;width:20px;height:20px;vertical-align:middle;margin:0 0 0 6px; }
.uppercase {text-transform:uppercase;}
p.error_p {text-align:center;font-size:14px;color:red;margin:0; }
p.p_error {	text-align:left;font-size:17px;color:red;margin:0 0 15px 0;font-weight:600; }
p.p_success {text-align:left;font-size:17px;color:#11bb11;margin:0 0 15px 0;font-weight:600; }
.table > thead > tr > th {vertical-align:middle !important; }
td.center.tworows {padding:5px 5px;width:60px !important; }
td.center.tworows a {margin:2px 0 !important; }
ul.brands_view_ul {list-style-type:decimal;padding:0 0 0 15px; }
ul.colors_view_ul {list-style-type:decimal;padding:0 0 0 15px; }
ul.colors_view_ul li {position:relative;height:37px;line-height:25px;clear:both; }
ul.colors_view_ul li p {display:inline-block;float:left; }
p.c_name {margin:0 15px 0 0;text-transform:uppercase; }
p.c_code {width:25px;height:25px;margin:0; }

.dataTables_wrapper table thead th {/*padding:5px 10px 5px 0 !important;*/font-size:12px;text-align:center; }
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {border:1px solid #dddddd;vertical-align:middle; }
td.center.tworows .pro_type a {display:inline-block;color:#000 !important;font-size:12px;padding:1px 3px; background:#ddd;margin:3px 1px !important;text-decoration:none !important; }
td.center.tworows .pro_type a.pr_type_a.active {background:green; color:#fff !important; background:#0b9;}



.orders-table-div {padding:0 15px 15px; }
.orders-table-div table thead th {font-weight:500; }
.orders-table-div table thead {background:#ddd; }
.orders-table-div table tr {height:35px; }
.orders-table-div table {width:100%; }
.orders-table-div table td, .orders-table-div table th {border:1px solid #474747; padding:2px 5px;text-align:center;font-size:13px; text-transform:capitalize; }
a.view-all-orders-a { margin:15px;float:right;color:#ffbb00;text-decoration:none !important;transition:all 0.5s ease; }
a.view-all-orders-a:hover {color:#0b65a8; }
.myorders-section .orders-table-div {margin:30px 0;padding:0; }
.orders-table-div table td a {color:#ffbb00;text-decoration:none !important;transition:all 0.5s ease; }
.orders-table-div table td a:hover {color:#0b65a8; }
.mydashboard-section-box2 h5 {margin:0 0 20px 0;text-transform:uppercase;font-size:16px; }
.form-group.col-md-6.odd0 {padding:0 30px 0 0; } 
.form-group.col-md-6.even0 {padding:0 0 0 30px; }
.account-info-form label {font-weight:400; }
.changepassword-label {margin:5px 0 15px 0; }
.changepassword-label label {font-weight:500;cursor:pointer; }
.form-group.change-user-details {margin:20px 0 0; }
.change-password-div.active {height:150px;max-height:250px; }
.change-password-div {height:0px;overflow:hidden;transition:all 0.5s ease; }
.items-single-table.orders-table-div {padding:0; }
.twidth45 {	width :45%;}
.twidth20 {	width :20%;}
.twidth15 {	width :15%;}
.table-below-sub {width:100%;width:calc(100% - 1px); border:1px solid #474747; margin:-1px 2px 0 0; font-size:13px; padding:5px 0; }
.table-below-line {text-align:right;height:30px;margin:0px 10px;line-height:30px; }
.table-below-line span:last-child, .table-below-fline span:last-child {width:140px;	float:right; }
.table-below-fline {text-align:right;height:30px;margin:5px 10px 0;font-weight:500;font-size:18px; }
.table-below-fline {text-align:right;height:30px;margin:5px 0 3px 0; font-weight:500;font-size:18px;border-top:1px solid #474747; padding:5px 10px 1px; }
.items-ordered-p {font-size:18px;font-weight:500;margin:15px 0 5px 0; }
.block-about-order {margin:0 0 15px 0;background:#9c9c9c;padding:5px 0 5px 10px;color:#fff;height:30px; }
.signle-order-shipping-meth {margin:0 0 20px 0; }
.signle-order-shipping-address, .signle-order-billing-address {border:1px solid #474747;margin:10px 0; }
.signle-order-shipping-address h5, .signle-order-billing-address h5 { text-transform:uppercase; font-weight:500; font-size:13px; margin:15px 0 6px; }
.signle-order-shipping-address p {line-height:20px; }


